<div class="top-box">

<div class="top-name">
<h1>ようこそBookersへ！</h1>
</div>

<div class="top-text1">
<p>Bookersではさまざまな書籍に関するあなたの意見や</p>
</div>

<div class="top-text2">
<p>印象を共有し交換することができます</p>
</div>

<div class="top-start">
<p><%= link_to 'start', books_path %></p>
</div>

</div>